h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
li {
  list-style: none;
  text-decoration: none;
}

.list {
  list-style: none;
}

ul {
  margin: 0;
  padding-left: 0;
}

.conteiner {
  width: 1210px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.line-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.section {
  padding-top: 150px;
  padding-bottom: 150px;
}

body {
  margin: 0 auto;
}

.header .conteiner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1800px;
  width: 100%;
  height: 150px;
  display: flex;
}

@media screen and (max-width: 767px) {
  .header .conteiner {
    height: 80px;
  }
}

.header {
  width: 100%;
  background: #edf6fa;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  color: #5c77ff;
}

.nav__link:hover {
  color: #f58fe9;
}

.logo {
  width: 140px;
  height: 140px;
  margin-right: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .logo {
    width: 70px;
    min-width: 70px;
    height: 70px;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
}

@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}

.nav__item {
  font-family: 'Old Standard TT', serif;
  font-style: italic;
  font-weight: 400;
  color: #5c77ff;
  font-size: 30px;
  line-height: 28px;
  margin-right: 50px;
}

.nav__item:last-child {
  margin-right: 0;
}

.header-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Old Standard TT', serif;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #5c77ff;
  margin-left: auto;
  width: 170px;
  height: 52px;
  left: 1179px;
  top: 92px;
  background: #FFFFFF;
  border: 1px solid #3730A3;
  border-radius: 6px;
  cursor: pointer;
  border: transparent;
  display: flex;
}

.header-button:hover {
  color: #3730A3;
  background: #fff1ff;
}

.header-button:focus {
  background: #f5d4f4;
}

@media screen and (max-width: 767px) {
  .header-button {
    width: 140px;
    height: 30px;
    font-size: 14px;
    display: none;
  }
}

.mobile-menu {
  z-index: 998;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #edf6fa;
  opacity: 0;
  overflow: hidden;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition-duration: opacity 500ms linear;
          transition-duration: opacity 500ms linear;
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.mobile-menu .contents {
  width: 50%;
  height: 100%;
  background-color: #feccf7;
}

.mobile-menu__logo {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.5;
}

/* nav-icon-1 */
.nav-icon-1 {
  z-index: 999;
  min-width: 30px;
  height: 30px;
  position: relative;
  right: 20px;
  -webkit-transition: .1s;
  transition: .1s;
  margin-left: auto;
  cursor: pointer;
  display: inline-block;
}

@media screen and (min-width: 767px) {
  .nav-icon-1 {
    display: none;
  }
}

.nav-icon-1 span {
  width: 5px;
  height: 5px;
  background-color: #feccf7;
  display: block;
  border-radius: 50%;
  position: absolute;
}

.nav-icon-1:hover span {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 350ms cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 350ms cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.nav-icon-1 span:nth-child(1) {
  left: 0;
  top: 0;
}

.nav-icon-1 span:nth-child(2) {
  left: 12px;
  top: 0;
}

.nav-icon-1 span:nth-child(3) {
  right: 0;
  top: 0;
}

.nav-icon-1 span:nth-child(4) {
  left: 0;
  top: 12px;
}

.nav-icon-1 span:nth-child(5) {
  position: absolute;
  left: 12px;
  top: 12px;
}

.nav-icon-1 span:nth-child(6) {
  right: 0px;
  top: 12px;
}

.nav-icon-1 span:nth-child(7) {
  left: 0px;
  bottom: 0px;
}

.nav-icon-1 span:nth-child(8) {
  position: absolute;
  left: 12px;
  bottom: 0px;
}

.nav-icon-1 span:nth-child(9) {
  right: 0px;
  bottom: 0px;
}

.nav-icon-1.open {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  cursor: pointer;
  -webkit-transition: 0.2s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.2s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.nav-icon-1.open span {
  border-radius: 50%;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
  -webkit-transition: 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.nav-icon-1.open span:nth-child(2) {
  left: 6px;
  top: 6px;
}

.nav-icon-1.open span:nth-child(4) {
  left: 6px;
  top: 18px;
}

.nav-icon-1.open span:nth-child(6) {
  right: 6px;
  top: 6px;
}

.nav-icon-1.open span:nth-child(8) {
  left: 18px;
  bottom: 6px;
}

/* nav-icon-2 */
.nav-icon-2 {
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.nav-icon-2 span {
  background-color: #FFF;
  position: absolute;
  border-radius: 2px;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.nav-icon-2 span:nth-child(1) {
  width: 100%;
  height: 4px;
  display: block;
  top: 0px;
  left: 0px;
}

.nav-icon-2 span:nth-child(2) {
  width: 100%;
  height: 4px;
  display: block;
  top: 13px;
  left: 0px;
}

.nav-icon-2 span:nth-child(3) {
  width: 100%;
  height: 4px;
  display: block;
  bottom: 0px;
  left: 0px;
}

.nav-icon-2:not(.open):hover span:nth-child(1) {
  width: 100%;
  height: 4px;
  display: block;
  top: -2px;
  left: 0px;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.nav-icon-2:not(.open):hover span:nth-child(2) {
  width: 100%;
  height: 4px;
  display: block;
  top: 13px;
  left: 0px;
  -webkit-transition: 0.4s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.4s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.nav-icon-2:not(.open):hover span:nth-child(3) {
  width: 100%;
  height: 4px;
  display: block;
  bottom: -2px;
  left: 0px;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.nav-icon-2.open span:nth-child(1) {
  left: 3px;
  top: 12px;
  width: 30px;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
}

.nav-icon-2.open span:nth-child(2) {
  left: 2px;
  top: 20px;
  width: 20px;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
}

.nav-icon-2.open span:nth-child(3) {
  left: 14px;
  top: 20px;
  width: 20px;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

/* nav-icon-3 */
.nav-icon-3 {
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.nav-icon-3 span {
  background-color: #FFF;
  position: absolute;
  border-radius: 2px;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.nav-icon-3 span:nth-child(1) {
  width: 100%;
  height: 4px;
  display: block;
  top: 0px;
  left: 0px;
}

.nav-icon-3 span:nth-child(2) {
  width: 100%;
  height: 4px;
  display: block;
  top: 13px;
  left: 0px;
}

.nav-icon-3 span:nth-child(3) {
  width: 100%;
  height: 4px;
  display: block;
  bottom: 0px;
  left: 0px;
}

.nav-icon-3:not(.open):hover span:nth-child(1) {
  width: 100%;
  height: 4px;
  display: block;
  top: -2px;
  left: 0px;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.nav-icon-3:not(.open):hover span:nth-child(2) {
  width: 100%;
  height: 4px;
  display: block;
  top: 13px;
  left: 0px;
  -webkit-transition: 0.4s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.4s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.nav-icon-3:not(.open):hover span:nth-child(3) {
  width: 100%;
  height: 4px;
  display: block;
  bottom: -2px;
  left: 0px;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.nav-icon-3.open {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.nav-icon-3.open span:nth-child(1) {
  left: 3px;
  top: 12px;
  width: 30px;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
}

.nav-icon-3.open span:nth-child(2) {
  left: 2px;
  top: 20px;
  width: 20px;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
}

.nav-icon-3.open span:nth-child(3) {
  left: 14px;
  top: 20px;
  width: 20px;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

/* nav-icon-4 */
.nav-icon-4 {
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.nav-icon-4 span {
  background-color: #FFF;
  position: absolute;
  border-radius: 2px;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.nav-icon-4 span:nth-child(1) {
  width: 100%;
  height: 4px;
  display: block;
  top: 0px;
  left: 0px;
}

.nav-icon-4 span:nth-child(2) {
  width: 100%;
  height: 4px;
  display: block;
  top: 13px;
  left: 0px;
}

.nav-icon-4 span:nth-child(3) {
  width: 100%;
  height: 4px;
  display: block;
  bottom: 0px;
  left: 0px;
}

.nav-icon-4:not(.open):hover span:nth-child(1) {
  width: 100%;
  height: 4px;
  display: block;
  top: -2px;
  left: 0px;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.nav-icon-4:not(.open):hover span:nth-child(2) {
  width: 100%;
  height: 4px;
  display: block;
  top: 13px;
  left: 0px;
  -webkit-transition: 0.4s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.4s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.nav-icon-4:not(.open):hover span:nth-child(3) {
  width: 100%;
  height: 4px;
  display: block;
  bottom: -2px;
  left: 0px;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.nav-icon-4.open {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.nav-icon-4.open span:nth-child(1) {
  left: 3px;
  top: 12px;
  width: 30px;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
}

.nav-icon-4.open span:nth-child(2) {
  left: 2px;
  top: 20px;
  width: 20px;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
}

.nav-icon-4.open span:nth-child(3) {
  left: 14px;
  top: 20px;
  width: 20px;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

/* nav-icon-5 */
.nav-icon-5 {
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.nav-icon-5 span {
  background-color: #fff;
  position: absolute;
  border-radius: 2px;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 4px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.nav-icon-5 span:nth-child(1) {
  top: 0px;
  left: 0px;
}

.nav-icon-5 span:nth-child(2) {
  top: 13px;
  left: 0px;
  opacity: 1;
}

.nav-icon-5 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}

.nav-icon-5:not(.open):hover span:nth-child(1) {
  -webkit-transform: rotate(-3deg) scaleY(1.1);
          transform: rotate(-3deg) scaleY(1.1);
}

.nav-icon-5:not(.open):hover span:nth-child(2) {
  -webkit-transform: rotate(3deg) scaleY(1.1);
          transform: rotate(3deg) scaleY(1.1);
}

.nav-icon-5:not(.open):hover span:nth-child(3) {
  -webkit-transform: rotate(-4deg) scaleY(1.1);
          transform: rotate(-4deg) scaleY(1.1);
}

.nav-icon-5.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 13px;
}

.nav-icon-5.open span:nth-child(2) {
  opacity: 0;
}

.nav-icon-5.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 13px;
}

/* nav-icon-6 */
.nav-icon-6 {
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.nav-icon-6 span {
  background-color: #fff;
  position: absolute;
  border-radius: 2px;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 4px;
}

.nav-icon-6 span:nth-child(1) {
  top: 0px;
  left: 0px;
}

.nav-icon-6 span:nth-child(2) {
  top: 13px;
  left: 0px;
}

.nav-icon-6 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}

.nav-icon-6:not(.open):hover span:nth-child(1) {
  -webkit-transform: scaleY(1.2);
          transform: scaleY(1.2);
  left: -5px;
}

.nav-icon-6:not(.open):hover span:nth-child(2) {
  -webkit-transform: rotate(5deg) scaleY(1.1);
          transform: rotate(5deg) scaleY(1.1);
}

.nav-icon-6:not(.open):hover span:nth-child(3) {
  -webkit-transform: scaleY(1.2);
          transform: scaleY(1.2);
  left: 5px;
}

.nav-icon-6.open span:nth-child(1) {
  -webkit-transform: rotate(45deg) scaleX(0.7);
          transform: rotate(45deg) scaleX(0.7);
  top: 13PX;
  left: -8px;
}

.nav-icon-6.open span:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition-duration: 50ms;
          transition-duration: 50ms;
}

.nav-icon-6.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg) scaleX(0.7);
          transform: rotate(-45deg) scaleX(0.7);
  top: 13PX;
  left: 7px;
}

/* nav-icon-7 */
.nav-icon-7 {
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.nav-icon-7 span {
  background-color: #FFF;
  position: absolute;
  border-radius: 2px;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 4px;
}

.nav-icon-7 span:nth-child(1) {
  top: 0px;
  left: 0px;
}

.nav-icon-7 span:nth-child(2) {
  top: 13px;
  left: 0px;
}

.nav-icon-7 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}

.nav-icon-7:not(.open):hover span:nth-child(1) {
  -webkit-transform: scaleX(0.8);
          transform: scaleX(0.8);
}

.nav-icon-7:not(.open):hover span:nth-child(2) {
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
}

.nav-icon-7:not(.open):hover span:nth-child(3) {
  -webkit-transform: scaleX(0.8);
          transform: scaleX(0.8);
}

.nav-icon-7.open span:nth-child(1) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 13PX;
}

.nav-icon-7.open span:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition-duration: 50ms;
          transition-duration: 50ms;
}

.nav-icon-7.open span:nth-child(3) {
  top: 13PX;
}

/* nav-icon-8 */
.nav-icon-8 {
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.nav-icon-8 span {
  background-color: #FFF;
  position: absolute;
  border-radius: 2px;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 4px;
}

.nav-icon-8 span:nth-child(1) {
  top: 0px;
  left: 0px;
}

.nav-icon-8 span:nth-child(2) {
  top: 13px;
  left: 0px;
}

.nav-icon-8 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}

.nav-icon-8:not(.open):hover span:nth-child(1) {
  -webkit-transform: scaleX(0.8);
          transform: scaleX(0.8);
}

.nav-icon-8:not(.open):hover span:nth-child(2) {
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
}

.nav-icon-8:not(.open):hover span:nth-child(3) {
  -webkit-transform: scaleX(0.8);
          transform: scaleX(0.8);
}

.nav-icon-8.open span:nth-child(1) {
  top: 13px;
}

.nav-icon-8.open span:nth-child(2) {
  top: 13px;
}

.nav-icon-8.open span:nth-child(3) {
  top: 13px;
}
/*# sourceMappingURL=main.css.map */