$accent-color: rgb(237, 246, 250);
// $accent-color-text: #212121;
// $color-text: #ffffff;
$color-fone: rgb(254, 204, 247);
// $color-text-button: #f5f4fa;
$ff-logo:'Old Standard TT',
serif;
// $ff-content: Roboto, sans-serif;


